---
- name: Clear apt cache
  apt:
    update_cache: yes
  become: yes

- name: Ensure required packages are installed
  apt:
    name:
      - git
      - curl
      - wget
      - unzip
      - openjdk-17-jdk
      - mysql-client
    state: present
  become: yes
