---
- name: Clear apt cache
  apt:
    update_cache: yes
  become: yes

- name: Loop over a list variable to ensure idempotent package installation
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - git
    - curl
    - wget
    - unzip
    - openjdk-17-jdk
    - mysql-client
  become: yes
