---
- name: Create Jenkins systemd override directory
  file:
    path: /etc/systemd/system/jenkins.service.d
    state: directory
    mode: '0755'
  become: yes

- name: Configure Jenkins environment variables via override
  copy:
    dest: /etc/systemd/system/jenkins.service.d/override.conf
    content: |
      [Service]
      Environment="JENKINS_OPTS=--prefix=/jenkins"
      Environment="JAVA_OPTS=-Djava.awt.headless=true -Djenkins.install.runSetupWizard=false"
    mode: '0644'
  become: yes
  notify:
    - reload systemd
    - restart jenkins
    
# - name: Force Jenkins to restart with new configuration
#   meta: flush_handlers

- name: Ensure Jenkins is started and enabled
  systemd:
    name: jenkins
    enabled: yes
    state: started
  become: yes

- name: Wait for Jenkins to be ready
  uri:
    url: "http://localhost:8080/jenkins/login"
    status_code: [200, 403]
    validate_certs: no
  register: jenkins_up
  retries: 60
  delay: 5
  until: jenkins_up.status in [200, 403]
  become: yes

- name: Wait for Jenkins initialAdminPassword file to be created
  wait_for:
    path: /var/lib/jenkins/secrets/initialAdminPassword
    state: present
    timeout: 300
  become: yes

- name: Read Jenkins initial admin password
  slurp:
    src: /var/lib/jenkins/secrets/initialAdminPassword
  register: jenkins_password_b64
  become: yes

- name: Store Jenkins admin password in SSM
  community.aws.ssm_parameter:
    name: "/voting-app-dev/jenkins_admin_password"
    description: "Initial Jenkins Admin Password"
    value: "{{ jenkins_password_b64.content | b64decode | trim }}"
    string_type: "SecureString"
    region: "eu-west-2"
    overwrite_value: "always"
  delegate_to: localhost

- name: Download Jenkins CLI
  get_url:
    url: "http://localhost:8080/jenkins/jnlpJars/jenkins-cli.jar"
    dest: /opt/jenkins-cli.jar
    mode: '0755'
  become: yes

- name: Install Jenkins plugins
  command: >
    java -jar /opt/jenkins-cli.jar
    -s http://localhost:8080/jenkins
    -auth admin:{{ jenkins_password_b64.content | b64decode | trim }}
    install-plugin {{ item }} -deploy
  loop: "{{ jenkins_plugins }}"
  register: plugin_install
  changed_when: "'Installed' in plugin_install.stdout"
  become: yes

- name: Restart Jenkins if plugins installed
  service:
    name: jenkins
    state: restarted
  when: plugin_install.changed
  become: yes
