plugin: amazon.aws.aws_ec2
regions:
  - eu-west-2

compose:
  ansible_connection: amazon.aws.aws_ssm
  ansible_aws_ssm_bucket: voting-app-dev-alb-logs-voting-app-dev
  ansible_aws_ssm_region: eu-west-2
