plugin: aws_ec2
regions:
  - eu-west-2
filters:
  tag:Project: voting-app-dev
  instance-state-name: [running]
hostnames:
  - tag:Name
compose:
  ansible_host: instance_id
  ansible_connection: aws_ssm
keyed_groups:
  - key: tags.Role
    prefix: role
    separator: "_"
