---
- name: Deploy Voting Application
  hosts: role_app
  connection: amazon.aws.aws_ssm
  remote_user: ubuntu
  gather_facts: yes
  pre_tasks:
    - name: Fetch DB host from SSM
      set_fact:
        db_host: "{{ lookup('amazon.aws.aws_ssm', '/voting-app-dev/db_host', region='eu-west-2') }}"

    - name: Fetch Secret ID from SSM
      set_fact:
        db_secret_id: "{{ lookup('amazon.aws.aws_ssm', '/voting-app-dev/db_secret_id', region='eu-west-2') }}"

    - name: Fetch DB credentials from Secrets Manager
      set_fact:
        db_creds: "{{ lookup('amazon.aws.aws_secret', db_secret_id, region='eu-west-2') | from_json }}"
      no_log: true
  vars:
    db_url: "jdbc:mysql://{{ db_host }}:3306/{{ db_creds.db_name }}?useSSL=false&allowPublicKeyRetrieval=true"
    db_username: "{{ db_creds.username }}"
    db_password: "{{ db_creds.password }}"
    artifact_path: "../../app/target/MySpring_Boot_aa23v_VotingApp_Final-0.0.1-SNAPSHOT.jar"
  roles:
    - common
    - app

- name: Setup Jenkins Server
  hosts: role_jenkins
  connection: amazon.aws.aws_ssm
  remote_user: ubuntu
  gather_facts: yes
  roles:
    - common
    - jenkins
