---
- name: Deploy Voting Application
  hosts: role_app
  connection: amazon.aws.aws_ssm
  remote_user: ubuntu
  gather_facts: yes
  pre_tasks:
    - name: Fetch DB host from SSM
      set_fact:
        db_host: "{{ lookup('amazon.aws.aws_ssm', '/voting-app-dev/db_host', region='eu-west-2') }}"
  vars:
    # These variables should be passed at runtime or fetched from Secrets Manager
    db_url: "jdbc:mysql://{{ db_host }}:3306/votingdb?useSSL=false&allowPublicKeyRetrieval=true"
    db_username: "{{ db_user | default('admin') }}"
    db_password: "{{ db_pass | default('password') }}"
    artifact_path: "../../app/target/VotingApp-0.0.1-SNAPSHOT.jar"
  roles:
    - common
    - app

- name: Setup Jenkins Server
  hosts: role_jenkins
  connection: amazon.aws.aws_ssm
  remote_user: ubuntu
  gather_facts: yes
  roles:
    - common
    - jenkins
